body {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    color: #ffffff;
    background-image: url('https://thumbs.dreamstime.com/b/mercado-medieval-colorido-perfeito-para-ilustra%C3%A7%C3%A3o-de-rpg-o-movimentado-%C3%A9-capturado-em-pleno-movimento-com-vendedores-vendendo-274556574.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: -1;
}


.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}


h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}


input[type="text"], select {
    font-size: 1.1em;
    padding: 12px 10px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
}


button {
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

button:hover {
    background-color: #777;
}


#resultado {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1.2em;
    text-align: center;
    word-wrap: break-word;
}


p {
    font-size: 1.3em;
    text-align: center;
    margin: 10px 0;
}
